.button-container {
    text-align: right;
}

.next-step-button {
    color: #ffffff;
    background-color: cadetblue;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}